Nouveau dossier/ts.xsd

 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="university">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="cours"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="matrN"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="email"/>
        <xs:element name="assistant">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="employeeN"/>
              <xs:element type="xs:string" name="Name"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      
    </xs:complexType>
  </xs:element>
</xs:schema> 